.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header{
  height:120px;
  background-color: #61dafb;
  display: flex;
  padding-left: 100px;
  align-items: center;

}
.Header img{
  width:100px;
}
/* ========================================Album=================================== */
.Album{
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  justify-content: center;
}
.Album .form{
  /* width: 75%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.addButton{
  background-color: #3498db;
  color: white;
  border: 1px solid blue;
  /* padding: 10px 20px; */
  border-radius: 5px;
  cursor: pointer;
  height:30px;
}
.addButton:hover{
  background-color: green;
}
.cancleButton{
  background-color: red;
  color: white;
  border: 1px solid red;
  /* padding: 10px 20px; */
  border-radius: 5px;
  cursor: pointer;
  height:30px;
}


.AddDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form h1{
  margin-right: 300px;
}
/* ==========================input form=========================================== */
.albumAddForm{
  height:150px;
  width:700px;
  background-color: #eff2f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: flex; */
  border-radius: 1rem;
}
.I-heading h1{
  margin-right: 350px;
}
.I-Body{
  /* margin-bottom: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.I-Body input{
  height:40px;
  width: 350px;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.I-Body input::placeholder{
  font-size: 1.5rem;
}
.clear{
  background-color:red;
  /* padding: 10px 20px; */
  border-radius: 5px;
  cursor: pointer;
  height:40px;
  width:100px;
}
.create{
  background-color: rgb(26, 222, 26);
  /* padding: 10px 20px; */
  border-radius: 5px;
  cursor: pointer;
  height:40px;
  font-family: 'Times New Roman', Times, serif;
  width:100px; 
}
button{
  font-weight: bold;
  font-family: cursive;
  width:100px;
  font-size: 1em;
}
.Album-Display{
  /* background-color: #3498db; */
  width: 1000px;
  margin-left: 350px;
  display: flex;
  /* overflow-x: wrap; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.Album-Display div{
  width: 19%;
  height:200px;
  background-color:cornsilk;
  border: 2px solid black;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(140, 127, 127, 0.1); 
  border-radius: 1rem;
  overflow: hidden;

}
.data-div:hover{
  /* background-image: linear-gradient(to right ,rgb(15, 15, 238),green); */
  background-color: rgb(246, 229, 229);
    cursor: pointer;

}
.Album-Display div img{
  height:100px;
  width:100%;
}
.Album-Display div h1{
  overflow: hidden;
  font-size: 1.5rem;

}

/* ==================================================================Album-Top-page================================= */
.pageHeading{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.goBack img{
  height:50px;
  width:50px;
  cursor: pointer;

}
.I-Bodys{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.I-Bodys input{
  height:40px;
  width: 350px;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.I-Bodys input::placeholder{
  font-size: 1.5rem;
}


.buttonsDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.buttonsDiv button:nth-child(2){
margin-left: 100px;
}
.addUrl{
  /* background-color: #eff2f6; */
  height: 200px;
  width: 100%;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.I-Bodys{
  background-color: #eff2f6;
height:100%;
width: 500px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 1rem;
}

